<!DOCTYPE html>
<html>

<% include header.ejs %>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <% include body-header.ejs %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <% include navigation.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Insecure Direct Object Reference</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Insecure Direct Object Reference</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Profile details</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool"></button>
                                </div>
                            </div>

                            <% if(userDetails != undefined) { %>
                            <form action="/idor?id=<%= userDetails.id %>" method="POST">
                                <div class="card-body">

                                    <div class="form-group">
                                        <label for="inputName">Full Name</label>
                                        <input type="text" id="fullname" name="fullname" class="form-control"
                                            value="<%= userDetails.fullname %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDescription">Email</label>
                                        <input type="text" id="email" name="email" class="form-control"
                                            value="<%= userDetails.email %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDescription">Phone Number</label>
                                        <input type="text" id="phone" name="phone" class="form-control"
                                            value="<%= userDetails.phone %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputClientCompany">User Name</label>
                                        <input type="text" id="username" name="username" class="form-control"
                                            value="<%= userDetails.username %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputClientCompany">Profile Pic</label><br>
                                        <% if(userDetails.profilepic != null) { %>
                                        <img src="<%= userDetails.profilepic %>" height="100px" width="100px"
                                            alt="Profile Image" />
                                        <% } %>
                                        <br><input type="file" name="profilepic">
                                    </div>


                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href="/" class="btn btn-secondary">Cancel</a>
                                    <a href="/change-password" class="btn btn-primary float-right">Change password</a>
                                </div>

                            </form>
                            <% } %>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

      

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/javascripts/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/javascripts/demo.js"></script>
</body>

</html>